body {
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 0px 4px #232323;
}

.nav-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.options:hover {
    color: aqua;
}

.head {
    color: rgb(201, 34, 187);
    font-size: 4rem;
    padding-left: 2rem;
}

/* HERO SECTION */
.main-content {
    margin: 150px 0;
    z-index: 1;
}

.home-img {
    max-width: 100%;
    height: auto;
    z-index: 2;
}

.main-info {
    font-size: 5rem;
}

.main-info span {
    color: rgb(17, 173, 224);
}

.trend {
    font-size: 4rem;
}

.main-dis {
    font-size: 1.5rem;
}

.badge {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(17, 192, 215);
    font-size: 1.5rem;
    box-shadow: 0px 0px 4px black;
    border: none;
    cursor: pointer;
}

.badge:hover {
    background-color: rgb(127, 246, 255);
}

/* WOMEN WEARS SECTION */
.women-wears {
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.women-wears span {
    color: rgb(15, 178, 215);
}

/* CARDS */
.crd {
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 4px black;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-icon i {
    color: gold;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

/* BLOG SECTION */
.blogs-crd {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    flex-wrap: wrap;
}

.blog-info {
    padding-left: 20px;
    padding-top: 10px;
}

.blog-par {
    font-size: 1.25rem;
}

/* CONTACT SECTION */
.contact-nav {
    background-color: rgb(0, 0, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.nav-info {
    color: white;
}

.input {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.email {
    height: 40px;
    width: 300px;
    font-size: 20px;
    padding: 0 10px;
}

.sign-btn {
    height: 45px;
    font-size: 20px;
    background-color: aqua;
    border: none;
    cursor: pointer;
}

/* FOOTER */
.contact-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

ul.no-bullets {
    list-style-type: none;
    padding: 20px;
}

ul li {
    padding-top: 10px;
}

.ul-icons i {
    padding-right: 10px;
    padding-top: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .main-info {
        font-size: 3rem;
    }

    .trend {
        font-size: 2.5rem;
    }

    .main-dis {
        font-size: 1.2rem;
    }

    .badge {
        width: 8rem;
        font-size: 1.2rem;
    }
}
